
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

<script>
   const figure = $("figure.columns-img");

   // 서버에 넘어온 각 요소 값들을 storage 에 저장
   let tag;
   let voidArr = [];
   let length = figure.length;

    // 새로 고침 할 시 수행되는 이벤트
    window.onbeforeunload = function() { 
         init();
    }

    function print(tagIndex,stoIndex) {
        figure
        .eq(tagIndex)
        .css("visibility","visible")
        .html(window.localStorage.getItem(`tag[${stoIndex}]`));
    }

    function save(stoIndex) {
        tag = 
            `<a href='/gallery#'>
                <img src='<%=path%>' alt="">
            </a>
            <figcaption>
                <ul>
                  <li>제목:<%=title%></li>
                  <li>그린사람:<%=author%></li>
                  <li>여행중인곳:<%=loc%></li> 
                </ul>
            </figcaption>`;    
    
        // 서버에서 전달받은 데이터 를 storage 에 저장 
        window.localStorage.setItem(`tag[${stoIndex}]`,tag);
    }

    function init() { 
        // 이전의 데이터 렌더링
        for (let tagIndex = 0,stoIndex = 0;tagIndex < length;tagIndex++,stoIndex++) { 
            if (window.localStorage.getItem(`tag[${stoIndex}]`) !== null) {
               print(tagIndex,stoIndex);
            } else {
              if (`<%=path%>` !== "") { // 이미지 가 존재하는 경우
                voidArr.push({
                     tag: tagIndex, 
                     sto: stoIndex    
                });
               
                save(voidArr[0].sto);
                print(voidArr[0].tag,voidArr[0].sto);
              } 
            }
        }
    }    

    init();

</script>